body {
    background: linear-gradient(90deg, rgba(44, 199, 217, 0.8) 28%, rgba(32, 28, 30, 1) 100%);
}

#header {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

#footer {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

#screen {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.userForm {
    display: flex;
    flex-flow: column nowrap;
    width: 35%;
}

.inputDiv {
    margin: 5px;
    text-align: center;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 25px;
}

button:hover {
    opacity: 0.9;
}

#playerOneInput,
#playerTwoInput {
    border-radius: 2em;
    border: 2px solid #84170a;
    margin-left: 4px;
    padding: 8px;
}

#level {
    border-radius: 2em;
    border: 2px solid #0f0e0e;
    margin-left: 4px;
    padding: 8px
}

.playerNameLabel {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#selectLevel {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #84170a;
}

.button {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 30px;
    background-color: #000000;
    color: #ffffff
}

.turnSelector {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.turnNames {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.playerTurn {
    border: 2px solid transparent;
    padding: 5px;
    font-size: 50px;
}

.playerSelected {
    border-color: #ce756b;
}

.firstMove {
    text-align: center;
    font-size: 50px;
}

.not-displayed {
    display: none;
}

.gameScreen {
    display: flex;
    flex-flow: row nowrap;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

#board {
    width: 80%;
    border: 2px solid #ffffff;
    border-radius: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card {
    box-sizing: border-box;
    width: 15%;
    margin: 5px;
    aspect-ratio: 1 / 1.25;
    border: 2px solid black;
    border-radius: 0.5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    font-family: "Brush Script MT", cursive;
    font-size: 3.75vw;
    color: #ffff00;
}

.cardFlipping {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.cardFading {
    opacity: 0;
    transition: opacity 0.5s linear;
}

#statusBar {
    border: 3px solid #e1887e;
    border-radius: 2em;
    width: 20%;
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.playerScore {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
}

#playerOneName,
#playerTwoName {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 4px;
    padding: 4px;
    border-radius: 2em;
}

#spread {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #ce756b;
}

.currentTurn {
    background-color: #ce756b;
}

.endScreen {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
}

#textEndScreen {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#winner {
    color: #000000;
    font-weight: bold;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#emoji {
    font-size: 5vw;
}

#textEndScreen > p {
    margin: 5px;
}