body {
    width: 100%;
    background: rgb(44,199,217);
    background: linear-gradient(90deg, rgba(44,199,217,0.8) 28%, rgba(32,28,30,1) 100%);
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    font-family: sans-serif;
}

#footer {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

#screen {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#userForm {
    display: flex;
    flex-flow: column nowrap;
    width: 35%;
    border: 1px solid black;
}

.inputDiv {
    margin: 5px;
    text-align: center;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 25px;
}

button:hover {
    opacity: 0.9;
}

#gameScreen {
    flex-flow: column nowrap;
    width: 40%;
    justify-content: center;
    align-items: center;
    display: none;
}

#board {
    color: red;
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#statusBar {
    border: 1px solid yellow;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.card {
    height: 150px;
    width: 75px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-family: "Brush Script MT", cursive;
    font-size: 50px;
    color: yellow;
}

.cardFlipping {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.cardFading {
    opacity: 0;
    transition: opacity 0.5s linear;
}

#endScreen {
    border: 1px solid red;
    color: red;
    display: none;
}